.page-masthead
  .container
    %h1
      Checklist Templates
    %p
      Create templates for surveys to be performed on field
.container
  %section.row
    .col-sm-9
      %h1.page-header
        Your templates
      %p.lead
        The templates provide the items to be checked and measured on field when conducting a survey.
      %section
        %ul.templates.list-inline
          - @checklists.each do |checklist|
            %li
              =link_to checklist.name, checklist_path(checklist)
    .col-sm-3
      %ul.nav.sidenav
        %li
          = link_to "Create a new template", new_checklist_path