.page-masthead
  .container
    %h1
      Checklist
    %p
      Manage a checklist
.container
  %section.col-sm-9
    .page_header
      %h1
        Checklist
      %p.lead
        = @checklist.name
    %br
    %ul.checklist_check_items
      - @checklist.check_items.each do |check_item|
        %li.check_item
          = check_item.question
    %br
    = link_to "Edit", edit_checklist_path(@checklist), :class => "pull-right"
    %br
    = link_to "Surveys for this Checklist", checklist_surveys_path(@checklist), :class => "pull-right"
