.masthead.clearfix
  .inner
    %h3.masthead-brand
      Checklists
    %ul.nav.masthead-nav
      %li.active
        = link_to "Home", "/"
      -if signed_in?
        %li
          = link_to "Templates", "#"
        %li
          = link_to "Checklists", "#"
      -else
        %li
          =link_to "Register", "/users/sign_up"
        %li
          =link_to "Sign-in", "/users/sign_in"
