-if signed_in?
  %ul.nav.navbar-nav
    %li
      = link_to "Checklist Templates", checklists_path
    %li
      = link_to "Executed Surveys", "#"
%ul.nav.navbar-nav.navbar-right
  -if signed_in?
    %li
      = link_to "Sign out", destroy_user_session_path, method: :delete
  - else
    %li#google_sign_in
      %a{href: user_omniauth_authorize_path(:google_oauth2)}
        %img{src: asset_path("btn_red.png")}
        %span
          Sign in with Google

